* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;

  background-color: rgb(238, 238, 238);

  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
}
