@import "./../colors";

.accordion_wrapper {
    border: 1px solid $primaryColor;
    margin: 20px;
    width: 500px;
}

.accordion_title * {
    display: inline-flex;
    vertical-align: middle;
}

.accordion_title {
    width: 100%;
    padding: 20px;
}

.accordion_inner {
    border-top: 1px solid $primaryColor;
}