# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
**/*/node_modules
/node_modules

**/*/yarn.lock
yarn.lock


# docs
/.docz
# testing
**/*/coverage

# production
**/*/build

# allow build folder for lichtblick assets
!/static/lichtblick/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

/.vscode
**/.idea/*

.cache/
dist/dev/
dist/storybook/

.firebaserc
firebase.json
.firebase/
