{
	"singleQuote": false,
	"trailingComma": "all",
	"semi": false,
	"useTabs": true,
	"tabWidth": 4,
	"jsxBracketSameLine": true,
	"bracketSpacing": true,
	"arrowParens": "avoid",
	"endOfLine": "lf"
}
