.floating_button {
    position: fixed;
    right: 20px;
    bottom: 20px;
    margin: 0;
}

.item {
    width: 25%;
    min-width: 150px;
    padding: 5px;
    
    @media (max-width: 1200px) {
        width: 33.333333%;
    }

    @media (max-width: 700px) {
        width: 50%;
    }
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.title_block {
    font-weight: 500;
    margin-top: 1rem;
}

.title, .title_block {
    margin-left: 5px;
}
