.floating_button {
    position: fixed;

    right: 20px;
    bottom: 20px;

    margin: 0;
}

.item {
    width: 33.333%;
    max-width: 300px;
}

.container {
    display: flex;
    flex-wrap: wrap;
}