.app_bar {
    overflow: hidden;

    background-color: white;

    box-shadow: 1px 2px 5px #aaa;

    z-index: 0;
}

.app_bar_content {
    height: 6rem;

    display: flex;
    align-items: center;

    padding: 0 4rem;
}