.paper {
    position: relative;

    background-color: #fff;

    ::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;
        box-shadow: 1px 1px 2px 1px rgba(200, 200, 200, 0.2)
    }
}