@import "./../colors";

.validate_button {
    float: right;

    &.wrong {
        background-color: #f44336;
    }

    &.correct {
        background-color: #4caf50;
    }

    &.normal {
        background-color: $grey;
    }
}
