.documentViewer-wrapper {
  background-color: #222;
  color: white;
  padding: 5px;
  max-height: 100vh;
  overflow: auto;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
  max-width: 50%;
}

.toolbar {
  background-color: grey;
  padding: 20px;
  margin-bottom: 10px;
}

.toolbar > span {
  padding: 5px;
}

.slate-wrapper {
  padding: 10px;
  height: 100%;
}