.plugin-wrapper {
  margin: 20px 0;
}

.plugin-wrapper:hover {
  box-shadow: 0 0 0 4px rgba(175, 4, 55, 0.5);
}

.plugin-wrapper.selected,
.plugin-wrapper.selected:hover {
  box-shadow: 0 0 0 4px rgba(175, 4, 55, 1);
}

.iframe {
  width: 100%;
  min-height: 30rem;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
