* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;

    background-color: rgb(238, 238, 238);

    font-family: "Roboto", sans-serif;
}

:root {
    --mdc-theme-primary: #b10438;
    --mdc-theme-secondary: #b10438;
}
