.preview {
    width: 200px;
    height: 280px;

    display: flex;
    flex-direction: column;

    justify-content: space-between;

    padding: .8rem;

    cursor: pointer;

    &:hover {
        background-color: #ccc;
    }
}

.image_wrapper {
    margin: 0 auto;

    width: 100%;
    height: calc(100% - 30px);

    background-color: white;
    
    border: 1px solid #ccc;

    & > img {
        width: 100%;
        height: 100%;

        object-fit: contain;
    }
}

.title {
    margin: 1rem 0 0 0;

    color: #444;
}