@import "./../colors";

.infobox {
    display: flex;
    align-items: center;
    background-color: $grey;
    color: white;
    padding: 15px 20px;
    margin-top: 20px;

    & > i {
        margin-right: 15px;
    }
}
